%hr
= link_to back_path, class: 'btn' do
  %icon.icon-chevron-left
  Back
.pull-right
  %button.btn.btn-primary{ type: :submit, data: { 'disable-with' => 'Saving...' } }
    Save
    %icon.icon-chevron-right.icon-white