@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

/* mixins, variables, etc. */

$grayMatch: #888;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin ellipsized_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* content */

#content {
  margin-top: 70px;
}

/* action bar */

#action_bar {
  background: $grayLighter;
  color: $grayDark;
  border-bottom: 1px solid $grayMatch;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;

  #title {
    display: inline-block;
    margin: 13px 0;
    font-size: 18px;
    line-height: 22px;
  }

  @mixin action {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 9px;
    color: $grayMatch;
    text-align: center;

    &:hover, &:focus {
      color: $grayMatch;
      text-decoration: none;
    }
  }

  #actions {
    float: right;

    .action {
      @include action;

      &#spinner {
        opacity: 0.0;
      }
    }

    ul#menu {
      position: fixed;
      top: 49px;
      right: 8px;
      background: $grayLighter;
      color: $grayDark;
      list-style: none;
      opacity: 0.0;

      li {
        font-size: 18px;
        line-height: 20px;
        padding: 14px 10px;
        min-width: 160px;


        &.separator {
          height: 1px;
          padding: 0;
          background: #ccc;
        }
      }
    }
  }

  #back_action {
    float: left;

    .action {
      @include action;
      width: auto;
      padding: 9px 9px 9px 6px;

      icon#app_icon {
        color: $blueDark;
      }
    }
  }
}

.shadow {
  -moz-box-shadow:    -1px 3px 8px 0px #aaa;
  -webkit-box-shadow: -1px 3px 8px 0px #aaa;
  box-shadow:         -1px 3px 8px 0px #aaa;
}

/* headers */

#header {
  padding-bottom: 7px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
  @include ellipsized_text;

  h3 {
    @include ellipsized_text;
    margin: 0 4px 0 0;
    display: inline-block;
  }

  p {
    @include ellipsized_text;
    display: inline-block;
  }
}

/* navigation */

ul.nav.nav-tabs.nav-stacked {
  li {
    a {
      @include ellipsized_text;

      &:hover, &:focus {
        color: $linkColor;
        background-color: $white;
      }

      i {
        margin-top: 4px;
      }
    }
  }
}

[href]:hover {
  cursor: pointer;
}

/* forms */

form {
  [class*="span"] {
    @include ellipsized_text
  }
}

/* buttons */

.btn i {
  vertical-align: text-top;
}

/* forms */

.field_with_errors {
  @extend .control-group.error;
}

/* spinner */

#page-spinner {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  margin-top: -43px;
  margin-left: -23px;
  text-align: center;
  color: $blueDark;
  opacity: 0.0;
}

/* miscellaneous */

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.inline {
  display: inline;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}